<div class="container">
  <h3> ADD USER</h3>
  <form [formGroup]="myForm" (ngSubmit)="save(myForm.value, myForm.valid)">
    <div formGroupName="name">
      <div>
        <input type="text" name="firstName" placeholder="Insert first name.." formControlName="firstName">
      </div>
      <div>
        <input type="text" name="lastName" placeholder="Insert last name.." formControlName="lastName">
      </div>
    </div>
    <div>
      <input type="text" name="password" placeholder="Insert pass.." formControlName="password">
    </div>
    <div>
      <input type="text" name="desc" placeholder="Inser desc.." formControlName="desc">
    </div>
    <div>
      <button type="submit">Aceptar</button>
      <button>Cancelar</button>
    </div>
  </form>
</div>
